{% assign version = "master" %}
{% assign releases = {{version}} + "," | split: ',' %}
{% assign pages = site.releases | where_exp:"item","item.path contains 'index.md'" %}
{% for p in pages %}
    {% assign path = p.url | split: "/" %}
    {% assign releases = releases | push: {{path[2]}} %}
{% endfor %}
{% assign release = page.url | remove: "index" | split: "/v/" %}
{% assign release_path = release[1] | split: "/" %}
{% if page.url contains "/v/" %}
	{% assign version = release_path[0] %}
{% endif %}